{% extends 'base.html' %}

{% block content %}

<!-- Меню с формой -->
<div class="menu">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" name="find_route">Найти маршрут</button>
            <button type="submit" name="detect_communities">Кластеризация Лувена</button>
            <button type="submit" name="calculate_pagerank">PageRank</button>
    </form>
</div>


<div id="map" style="height: 600px; width: 600px;"></div>

<script>

    var map = L.map('map', {attributionControl: false}).setView([59.939095, 30.315877], 13);

    var CartoDB_DarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
    subdomains: 'abcd',
    maxZoom: 20
}).addTo(map);


 // Отрисовка маршрута, если он есть
{% if path_coordinates %}
    console.log("Координаты пути из Django:", {{ path_coordinates|safe }});  // Отладочная информация
    var coordinates = {{ path_coordinates|safe }};  // Передаём координаты из Django в JavaScript
    L.polyline(coordinates, {color: 'blue'}).addTo(map);
{% endif %}

// Отрисовка полигонов для начальной и конечной точек
{% if start_geometry %}
    var startGeoJSON = {{ start_geometry|safe }};
    var startPolygon = L.geoJSON(startGeoJSON, {
        style: { color: 'green', fillOpacity: 0.5 }
    }).addTo(map);
    startPolygon.bindPopup("Начальная точка").openPopup();
{% endif %}

{% if end_geometry %}
    var endGeoJSON = {{ end_geometry|safe }};
    var endPolygon = L.geoJSON(endGeoJSON, {
        style: { color: 'red', fillOpacity: 0.5 }
    }).addTo(map);
    endPolygon.bindPopup("Конечная точка").openPopup();
{% endif %}

// Отображение кластеров
{% if nodes_data %}
    var colors = ['red', 'green', 'blue', 'orange', 'purple', 'yellow'];
    {% for node in nodes_data %}
        var community = {{ node.community }};
        var color = colors[community % colors.length];
        var polygon = L.polygon(
            {{ node.geom|safe }},  // Координаты полигона здания
            {color: color, fillOpacity: 0.5}
        ).addTo(map);
        polygon.bindPopup("{{ node.name }} (Сообщество: {{ node.community }})");
    {% endfor %}
{% endif %}

{% if nodes_data_pr and pagerank_scores %}
// Функция для вычисления цвета на основе рейтинга PageRank
function getColor(pagerank) {
    // Нормализуем рейтинг от 0 до 1
    var normalizedRank = (pagerank * 10) / 3;  // Предполагаем, что рейтинг уже в диапазоне [0, 1]

    // Создаём цветовую шкалу от оранжевого (#FFA500) к синему (#005AFF)
    return chroma.scale(['#FFA500', '#005AFF'])(normalizedRank).hex();
}

// Отображение PageRank
    {% for node in nodes_data_pr %}
        var pagerank = {{ node.pagerank }};
        var color = getColor(pagerank);  // Получаем цвет на основе рейтинга
        console.log({{ node.id }}, " цвет ", color);
        var polygon = L.polygon(
            {{ node.geom|safe }},  // Координаты полигона здания
            {color: color, fillColor: color, fillOpacity: 0.7}  // Заливка цветом
        ).addTo(map);
        polygon.bindPopup("{{ node.name }} (PageRank: {{ node.pagerank|floatformat:2 }})");
    {% endfor %}
{% endif %}

</script>

{% endblock %}
